{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="login-form">
        <div class="container">
            <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="/">Home</a>
                        <span>&gt;</span>
                    </li>
                    <li class="page">
                        login
                    </li>
                </ul>
                <ul class="previous">
                    <li><a href="{{ url_for('main.products') }}">Browse all products</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>


            <h2>Login</h2>
            <div class="login-grids">
                <div class="log-form">
                    <div class="log">
                        <p>Welcome, please enter your credentials to continue</p>
                        <p>If you haven't previously registered with us, <a href="{{ url_for('auth.register') }}">click
                            here to create an account</a></p>
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newsletter">
        <div class="container">
            <div class="join">
                <div class="subscribe-container">
                    <h1>Subscribe to our newsletters!</h1>
                    <span>Don't miss out on our great offers & Receive deals from all our top vendors
                        via e-mail</span>
                    <div class="sub-form">
                        {{ wtf.quick_form(s_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
