{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ customer.first_name }}</h1>
            {% if customer.first_name or customer.location %}
                <p>
                    {% if customer.first_name %}{{ customer.first_name }}{% endif %}
                    {% if customer.location %}
                        From <a href="http://maps.google.com/?q={{ customer.location }}">{{ customer.location }}</a>
                    {% endif %}
                </p>
            {% endif %}
            {% if current_user.is_admin() %}
                <p><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>
            {% endif %}
            {% if customer.about_me %}{{ customer.about_me }}{% endif %}
            <p>
                Member since {{ moment(customer.member_since).format('L') }}
                Last seen {{ moment(customer.last_seen).fromNow() }}
            </p>
        </div>
    </div>

{% endblock %}
